.hero {
  position: relative;
  height: 100vh;

  .button {
    position: fixed;
    top: 24px;
    left: 24px;
  }

  .ui {
    max-width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    padding: 1.4rem;
    color: #111;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1rem;

    span {
      font-weight: 700;
    }
  }
}
